# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [2]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2==0:
        if a<b:
            return a
        else:
            return b
    else:
        if a>b:
            return a
        else:
            return b

In [3]:
# Check
lesser_of_two_evens(2,4)

2

In [4]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [10]:
def animal_crackers(text):
    words = text.split(" ")
    
    if words[0][0] == words[1][0]:
        return True
    else:
        return False

In [11]:
# Check
animal_crackers('Levelheaded Llama')

True

In [12]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [14]:
def makes_twenty(n1,n2):
    if (n1 + n2 ==20) or n1==20 or n2 == 20:
        return True
    else: 
        return False

In [15]:
# Check
makes_twenty(20,10)

True

In [16]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [32]:
def old_macdonald(name):
    
    first = name[0].upper()
    fourth = name[3].upper()
    
    new_name = first + name[1:3] + fourth + name[4:]
    print new_name

In [33]:
# Check
old_macdonald('macdonald')

MacDonald

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [38]:
def master_yoda(text):
    list = text.split()
    
    print " ".join(list[::-1])

In [39]:
# Check
master_yoda('I am home')

home am I

In [ ]:
# Check
master_yoda('We are ready')

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [40]:
def almost_there(n):
    if (90<=n<=110):
        return True
    elif (190<= n<=210):
        return True
    else: 
        return False

In [41]:
# Check
almost_there(104)

True

In [42]:
# Check
almost_there(150)

False

In [43]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [62]:
def has_33(nums):
    first_three = nums.index(3)
    if nums[first_three +1] == 3:
        return True
    else:
        return False

In [63]:
# Check
has_33([1, 3, 3])

True

In [64]:
# Check
has_33([1, 3, 1, 3])

False

In [65]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [74]:
def paper_doll(text):
    new_text = ""
    for letter in text:
        new_text = new_text + letter*3
        
    return new_text

In [75]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [76]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [86]:
def blackjack(a,b,c):
    total = a+b+c
    
    if total<=21:
        return total
    elif total > 21 and (a==11 or b==11 or c==11):
        total = total-10
        if total <=21: 
            return total
        else:
            return "BUST"
    else: 
        return "BUST"

In [87]:
# Check
blackjack(5,6,7)

18

In [88]:
# Check
blackjack(9,9,9)

'BUST'

In [89]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [101]:
def summer_69(arr):
        if nums == 6:        
            six = arr.index(6)
            nine = arr.index(9)

            array_sum = sum(arr) - sum(arr[six:(nine+1)])
            return array_sum
    else:
        return sum(arr)

In [102]:
# Check
summer_69([1, 3, 5])

ValueError: 6 is not in list

In [95]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [96]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [115]:
def spy_game(nums):
    spy_nums = ""
    nums = str(nums)
    for each in nums:
        if each == "0" or each == "7":
            spy_nums = spy_nums + each
    
    if spy_nums == "007": 
        return True
    else:
        return False

In [116]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [117]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [118]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    count = 0
    while num >=0:
        if num%2 ==0:
            count = count
            num -=1
        elif num%3 == 0:
            count = count
            num -=1
        else: 
            count +=1
            num -=1
    print count

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!